@media (max-width:1199px) {
	.separator{
		display: none;
	}

	.carousel-caption h1 {
		font-size: 40px;
	}

	.carousel-caption p {
		font-size: 21px;
		margin-bottom: 25px;
	}

	.contact_submit {
		float: left;
	}

	.form_div {
		padding: 5px 20px 0 20px;
	}

	.social_div {
		padding: 18px 37px 37px 15px;
	}

	.col-centered{
		float: none;
		margin: 0 auto;
	}

	.footer_align {
		text-align: center;
	}

}

@media (max-width:992px) {
	.col-centered2{
		float: none;
		margin: 0 auto;
	}

	.company_logo_container {
		display: none;
	}

	.carousel-caption h1 {
		font-size: 30px;
	}

	.carousel-caption p {
		font-size: 18px;
		margin-bottom: 15px;
	}


}

@media (max-width:767px) {
	.form-control {
		display: inline-block;
		width: 88%;
	}

	.navbar-nav {
		margin: 7.5px 0px;
	}

	.navbar-form {
		margin-left: 15px;
		border: none;
		padding: 0;
	}

	.carousel-caption h1 {
		font-size: 24px;
	}

	.carousel-caption p {
		font-size: 16px;
		margin-top: 32px;
		margin-bottom: 32px;
	}

	.carousel-caption .btn {
		font-size: 12px;
	}

}

@media (max-width:679px) {
	.main_slide {
		display: none;
	}

	.marketing {
		margin-top: 39px;
	}

}

@media (max-width:456px) {
	.social_div h3:first-child {
		font-size: 14px;
	}

	.social_div h3:nth-child(2) {
		font-size: 14px;
	}
}

