@media (max-width:1199px) {
	.separator{
		display: none;
	}

	.carousel-caption p {
		font-size: 17px;
	}

	.contact_submit {
		float: left;
	}

	.form_div {
		padding: 5px 20px 0 20px;
	}

	.social_div {
		padding: 49px 37px 37px 15px;
	}

	.col-centered{
		float: none;
		margin: 0 auto;
	}

	.footer_align {
		text-align: center;
	}

}

@media (max-width:992px) {
	.col-centered2{
		float: none;
		margin: 0 auto;
	}
}

@media (max-width:992px) {
	.company_logo_container {
		display: none;
	}
}

@media (max-width:767px) {
	.form-control {
		display: inline-block;
		width: 88%;
	}

	.navbar-nav {
		margin: 7.5px 0px;
	}

	.carousel-caption p {
		font-size: 17px;
	}

}

