/* Header styling ******************************************************/

/* Adjust navbar height */
.navbar-nav > li > a {
	padding-top:5px !important;
	padding-bottom:5px !important;
	line-height: 34px !important;
	color: #000 !important;
}

.navbar-right {
	font-weight: 500 !important;
}

.navbar {
	min-height:32px !important;
	margin-bottom:0px !important;
}

.navbar-default {
	background-color: white;
	border: none;
}

.container_top_nav li .fa {
	font-size: 20px;
}

.navbar-form {
	border-left: 1px black solid;
	border-right: 1px black solid;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 43px;
}

.navbar-collapse{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.container-fluid {
	border-bottom: 1px solid #BABABA;
}

.form-control:focus{
	outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.form-control {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding: 0px;
}

.container_top_nav {
	font-size: 17px;
	font-weight: 600;
}


.h1_site_logo{
	margin-top: 40px;
	margin-bottom: 40px;
	padding-left: 13px;
}

.container_main_nav {
	padding: 0px !important;
	border: none;
	font-size: 20px;
}

.container_main_nav li {
	padding: 2px 3px 2px 3px;
}

.caret {
	color: #FF5700;
	border-top: 6px solid;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}

/* Slideshow styling *****************************************/

.carousel-caption {
	background-color: rgba(255, 255, 255, 0.5);;
	position: relative;
	text-align: left;
	width: 54%;
	right: 0;
	left: 20px;
	bottom: 0;
	padding: 30px 40px 45px 40px;
	text-shadow: 0 1px 2px rgba(211, 211, 211, 1);
	color: black;
	height: 336px;
}

.carousel-caption h1 {
	font-size: 45px;
	font-weight: 600;
	margin-bottom: 20px;
}

.carousel-caption p {
	font-size: 22px;
	color: #4f4f4f;
}

.carousel-indicators .active {
	background-color: #e4e4e4;
}

.carousel-indicators li {
	width: 12px;
	height: 12px;
	border: none;
	background-color: #FF5700;
	margin: 0 1px 0 1px;
}

.carousel-indicators {
	bottom: -40px;
}

.lead {
	margin-bottom: 35px;
}

.slider_container1, .slider_container2, .slider_container3, .slider_container4 {
	background: url("../img/slidebg.jpg") no-repeat center center;
}

.btn-primary {
	background-color: #FF5700;
	border-color: #FF5700
}

.carousel-caption .btn {
	width: 158px;
}

.carousel_bg_color {
	background-color: #EFEFEF;
}

/* Marketing styling *****************************************/

.marketing {
	margin-top: 104px;
}

.marketing .col-lg-4 {
	padding: 17px 17px 44px 17px;
	text-align: center;
}

.separator {
	width: 1106px;
	height: 1px;
	border-bottom: 1px solid black;
}

.marketing_lower {
	margin-top: 35px;
}

.marketing_lower .col-lg-4 {
	padding: 17px;
	text-align: left;
	margin-bottom: 50px
}

.marketing_lower_img1, .marketing_lower_img2, .marketing_lower_img3 {
	height: 156px;
	background: url("../img/placeholder_camera.png") no-repeat center center;
	background-color: #f5f5f5;
}

.icon-background {
	color: #FF5700;
}

.fa-stack-1x {
	color: white;
}

.dashboard_icon {
	width: 57px;
	margin-bottom: 12px;
}

.custom-btn {
	text-decoration: none !important;
	color: #FF5700;
}

.custom-btn:hover {
	color: #FF5700;
	text-decoration: none !important;
	background-color: transparent;
}

.custom-btn:visited {
	color: #FF5700;
	background-color: #ccc;
}

.company_slider_div {
	margin-bottom: 100px;
}

/* Company logos styling *****************************************/

.company_logo_container {
	margin-bottom: 100px;
}

.inner_item_div {
	padding-left: 50px;
	padding-right: 50px;
}

#company_logo_carousel {

}

.carousel-control {
	background: none !important;
	filter: none !important;
	progid:none !important;
	text-shadow: none !important;
  padding: 0;
  top: -14px;
  width: 5px;
  font-size: 78px;
  color: #ddd !important;
  opacity: 1;
}

.carousel-control:hover {
  color: #b5b5b5 !important;
}

.carousel-control:visited {
  color: #ddd !important;
}

.carousel-control.right {
	right: 15px;
}

.logo1 {
	background: url("../img/google-edited.png") no-repeat center center;
	background-size: cover;
	height: 150px;
	width: 150px;
}

.logo2 {
	background: url("../img/intel_logo-edited.png") no-repeat center center;
	background-size: cover;
	height: 150px;
	width: 150px;
}

.logo3 {
	background: url("../img/logo-ibm-edited.png") no-repeat center center;
	background-size: cover;
	height: 150px;
	width: 150px;
}

.logo4 {
	background: url("../img/samsung-logo-edited.png") no-repeat center center;
	background-size: cover;
	height: 150px;
	width: 150px;
}