/* Header styling ******************************************************/

/* Adjust navbar height */
.navbar-nav > li > a {
	padding-top:5px !important;
	padding-bottom:5px !important;
	line-height: 34px !important;
	color: #000 !important;
}
.navbar {
	min-height:32px !important;
	margin-bottom:0px !important;
}

.navbar-default {
	background-color: white;
	border: none;
}

.navbar-form {
	border-left: 1px black solid;
	border-right: 1px black solid;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 43px;
}

.navbar-collapse{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.container-fluid {
	border-bottom: 1px solid #BABABA;
}

.form-control:focus{
	outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.form-control {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding: 0px;
}

.container_top_nav {
	font-size: 17px;
	font-weight: 600;
}


.h1_site_logo{
	margin-top: 40px;
	margin-bottom: 40px;
	padding-left: 13px;
}

.container_main_nav {
	padding: 0px !important;
	border: none;
	font-size: 20px;
}

.caret {
	color: #FF5700;
}

/* Slideshow styling *****************************************/

.carousel-caption {
	background-color: rgba(255, 255, 255, 0.5);;
	position: relative;
	text-align: left;
	width: 54%;
	right: 0;
	left: 20px;
	bottom: 0;
	padding: 30px 40px 45px 40px;
	text-shadow: 0 1px 2px rgba(211, 211, 211, 1);
	color: black;
	height: 336px;
}

.carousel-caption h1 {
	font-size: 45px;
	font-weight: 600;
	margin-bottom: 20px;
}

.carousel-caption p {
	font-size: 22px;
	color: #4f4f4f;
}

.lead {
	margin-bottom: 35px;
}

.slider_container1, .slider_container2, .slider_container3 {
	background: url("../img/slidebg.jpg") no-repeat center center;
}

.btn-primary {
	background-color: #FF5700;
	border-color: #FF5700
}

.carousel_bg_color {
	background-color: #EFEFEF;
}